{
  "presets": [
    "babel-preset-react-native-stage-0/decorator-support"
  ],
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-root-import"],
        ["transform-react-jsx-source"],
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-root-import"],
      ]
    }
  }
}
